{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "eol-last": "off",
    "import/no-webpack-loader-syntax": "off",
    "react/prop-types": [
      1, 
      { 
        "skipUndeclared": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}