.raceBox {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.startBtn {
  font-weight: bold;
}
.longText {
  margin: 20px 0;
  user-select: none;
  font-size: 26px;
  line-height: 28px;
  text-align: justify;
}
.currentWord {
  text-decoration: underline;
}
.ticker {
  font-size: 20px;
  font-weight: bold;

  [class*="anticon"]{
    font-size: 24px;
    vertical-align: -5px;
  }
  .time {
    color: #e1813c;
  }
  .meter {
    color: #42577e;
    text-align: right;
  }
}