.layout {
  height: 100%;
  background: #fff;

  .logo {
    color: #fff;
    font-size: 30px;
    width: 150px;
    float: left;
  }
  .menu {
    line-height: 64px;
    margin-left: auto;
    text-align: right;
  }
}